﻿
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<h1>Important message</h1>
<p>This page is <em>extremely</em> important!</p>
<p>Thank you for watching</p>