﻿@model WebApp.Models.AppointmentModel

<h4>AppointmentModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Details">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PatientName" class="control-label"></label>
                <input asp-for="PatientName" class="form-control" />
                <span asp-validation-for="PatientName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PatientPhoneNumber" class="control-label"></label>
                <input asp-for="PatientPhoneNumber" class="form-control" />
                <span asp-validation-for="PatientPhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PatientEmailAddress" class="control-label"></label>
                <input asp-for="PatientEmailAddress" class="form-control" />
                <span asp-validation-for="PatientEmailAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PatientStreet" class="control-label"></label>
                <input asp-for="PatientStreet" class="form-control" />
                <span asp-validation-for="PatientStreet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PatientCity" class="control-label"></label>
                <input asp-for="PatientCity" class="form-control" />
                <span asp-validation-for="PatientCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PatientZipCode" class="control-label"></label>
                <input asp-for="PatientZipCode" class="form-control" />
                <span asp-validation-for="PatientZipCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dateTime" class="control-label"></label>
                <input asp-for="dateTime" class="form-control" />
                <span asp-validation-for="dateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PatientNetWorth" class="control-label"></label>
                <input asp-for="PatientNetWorth" class="form-control" />
                <span asp-validation-for="PatientNetWorth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DoctorName" class="control-label"></label>
                <input asp-for="DoctorName" class="form-control" />
                <span asp-validation-for="DoctorName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PainLevel" class="control-label"></label>
                <input asp-for="PainLevel" class="form-control" />
                <span asp-validation-for="PainLevel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
