﻿@model WebApp.Models.AppointmentModel

<div>
    <h4>AppointmentModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatientName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatientName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatientPhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatientPhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatientEmailAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatientEmailAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatientStreet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatientStreet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatientCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatientCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatientZipCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatientZipCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatientNetWorth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatientNetWorth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DoctorName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DoctorName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PainLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PainLevel)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
