﻿@model WebApp.Models.UserModel

<div>
    <h4>Login or password is incorrect</h4>
    <h4>Please, try again</h4>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
